#!/usr/bin/env bash
set -ex
name=$1

if ! gluster volume list | grep -q "$name"; then
  glusterfs_replication="{{ glusterfs_replication }}"
  if [[ $glusterfs_replication -gt 1 ]]; then
    gluster volume create "$name" replica $glusterfs_replication \
            {% for server in groups[glusterfs_server_group] %}{{ server }}.node.{{ consul_dns_domain }}:{{ glusterfs_brick_location }}/$name {% endfor %}{% if glusterfs_volume_force == "yes" %}force{% endif %};
  else
    gluster volume create $name \
            {% for server in groups[glusterfs_server_group] %}{{ server }}.node.{{ consul_dns_domain }}:{{ glusterfs_brick_location }}/$name {% endfor %}{% if glusterfs_volume_force == "yes" %}force{% endif %};
  fi
else
    echo "volume already created"
fi
